.custom-load {
     width:150px;
     height:150px;
     border-radius:50%;
     border:30px solid;
     border-color:#766DF4 #0000;
     animation:s1 1s infinite;
   }
   @keyframes s1 {to{transform: rotate(.5turn)}}